crimestatdafaasdev/PartialArmTemplates/ArmTemplate_5_27_2019_14_51_51.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "crimestatdafaasdev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CrimeStat-Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute_Source-Country-Load-Staging",
						"type": "ExecutePipeline",
						"typeProperties": {
							"pipeline": {
								"referenceName": "Source-Country-Load-Staging",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Execute_Source-WorldBank-Load-Staging",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute_Source-Country-Load-Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Source-WorlBank-Load-Staging",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Execute_Source-UnCrime-Load-Staging",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute_Source-WorldBank-Load-Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Source-UnCrime-Load-Staging",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Source-UnCrime-Load-Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source-UnCrime-Load-Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF-UnCrime-Load-Staging",
						"type": "ExecuteDataFlow",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF-UnCrime-Load-Staging",
								"type": "DataFlowReference"
							}
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF-UnCrime-Load-Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_src_uncrime')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "crimestatstacalinkedservice",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "CrimeStat.Source.UnCrime/ConvertedToCSV",
						"container": "crimestat-sourcefiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Sub Region",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Count",
						"type": "String"
					},
					{
						"name": "Rate",
						"type": "String"
					},
					{
						"name": "Year",
						"type": "String"
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF-UnCrime-Load-Staging')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dataset_src_uncrime",
								"type": "DatasetReference"
							},
							"name": "SrcUnCrime",
							"script": "source(output(\n\t\tRegion as string,\n\t\t{Sub Region} as string,\n\t\tCountry as string,\n\t\tCount as string,\n\t\tRate as string,\n\t\tYear as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn: 'FileName') ~> SrcUnCrime"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dataset_dst_staging_UNCrime_untyped",
								"type": "DatasetReference"
							},
							"name": "DstUNCrimeUntyped",
							"script": "SrcUnCrime sink(input(\n\t\tFileName as string,\n\t\tRegion as string,\n\t\tSubRegion as string,\n\t\tCountry as string,\n\t\tCount as string,\n\t\tRate as string,\n\t\tYear as string,\n\t\tsysETLrunId as integer,\n\t\tsysCreatedAt as timestamp,\n\t\tsysChangedAt as timestamp,\n\t\tsysCreatedBy as integer,\n\t\tsysChangedBy as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tmapColumn(\n\t\tFileName,\n\t\tRegion,\n\t\tSubRegion = {Sub Region},\n\t\tCountry,\n\t\tCount,\n\t\tRate,\n\t\tYear\n\t),\n\ttruncate:true) ~> DstUNCrimeUntyped"
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_src_uncrime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow-worldbank-transform')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dataset_src_worldbankpopulation",
								"type": "DatasetReference"
							},
							"name": "pivoteddata",
							"script": "source(output(\n\t\t{Country Name} as string,\n\t\t{Country Code} as string,\n\t\t{Indicator Name} as string,\n\t\t{Indicator Code} as string,\n\t\t{1960} as string,\n\t\t{1961} as string,\n\t\t{1962} as string,\n\t\t{1963} as string,\n\t\t{1964} as string,\n\t\t{1965} as string,\n\t\t{1966} as string,\n\t\t{1967} as string,\n\t\t{1968} as string,\n\t\t{1969} as string,\n\t\t{1970} as string,\n\t\t{1971} as string,\n\t\t{1972} as string,\n\t\t{1973} as string,\n\t\t{1974} as string,\n\t\t{1975} as string,\n\t\t{1976} as string,\n\t\t{1977} as string,\n\t\t{1978} as string,\n\t\t{1979} as string,\n\t\t{1980} as string,\n\t\t{1981} as string,\n\t\t{1982} as string,\n\t\t{1983} as string,\n\t\t{1984} as string,\n\t\t{1985} as string,\n\t\t{1986} as string,\n\t\t{1987} as string,\n\t\t{1988} as string,\n\t\t{1989} as string,\n\t\t{1990} as string,\n\t\t{1991} as string,\n\t\t{1992} as string,\n\t\t{1993} as string,\n\t\t{1994} as string,\n\t\t{1995} as string,\n\t\t{1996} as string,\n\t\t{1997} as string,\n\t\t{1998} as string,\n\t\t{1999} as string,\n\t\t{2000} as string,\n\t\t{2001} as string,\n\t\t{2002} as string,\n\t\t{2003} as string,\n\t\t{2004} as string,\n\t\t{2005} as string,\n\t\t{2006} as string,\n\t\t{2007} as string,\n\t\t{2008} as string,\n\t\t{2009} as string,\n\t\t{2010} as string,\n\t\t{2011} as string,\n\t\t{2012} as string,\n\t\t{2013} as string,\n\t\t{2014} as string,\n\t\t{2015} as string,\n\t\t{2016} as string,\n\t\t{2017} as string,\n\t\t{2018} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> pivoteddata"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dataset_dst_staging_WorldBankPopulation_unpivoted",
								"type": "DatasetReference"
							},
							"name": "DSTWorldBankPopulationunpivoted",
							"script": "DerivedColumn1 sink(input(\n\t\t{Country Name} as string,\n\t\t{Country Code} as string,\n\t\t{Indicator Name} as string,\n\t\t{Indicator Code} as string,\n\t\tYear as string,\n\t\tPopulation as long,\n\t\tsysETLrunId as integer,\n\t\tsysCreatedAt as timestamp,\n\t\tsysChangedAt as timestamp,\n\t\tsysCreatedBy as integer,\n\t\tsysChangedBy as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tmapColumn(\n\t\t{Country Name},\n\t\t{Country Code},\n\t\t{Indicator Name},\n\t\t{Indicator Code},\n\t\tYear,\n\t\tPopulation\n\t)) ~> DSTWorldBankPopulationunpivoted"
						}
					],
					"transformations": [
						{
							"name": "unpivoted",
							"script": "pivoteddata unpivot(output(\n\t\tYear as string,\n\t\tPopulation as string\n\t),\n\tungroupBy({Country Name},\n\t\t{Country Code},\n\t\t{Indicator Name},\n\t\t{Indicator Code}),\n\tlateral: false,\n\tignoreNullPivots: false) ~> unpivoted"
						},
						{
							"name": "DerivedColumn1",
							"script": "unpivoted derive(Population = toInteger(Population)) ~> DerivedColumn1"
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_dst_staging_WorldBankPopulation_unpivoted')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_dst_staging_WorldBankPopulation_unpivoted')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "crimestatdwhlinkedservice",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Country Name",
						"type": "nvarchar"
					},
					{
						"name": "Country Code",
						"type": "nvarchar"
					},
					{
						"name": "Indicator Name",
						"type": "nvarchar"
					},
					{
						"name": "Indicator Code",
						"type": "nvarchar"
					},
					{
						"name": "Year",
						"type": "nvarchar"
					},
					{
						"name": "Population",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "sysETLrunId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysCreatedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysChangedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysCreatedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysChangedBy",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"tableName": "[[staging].[WorldBankPopulation_unpivoted]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source-WorldBankPopulation_unpivoted-Load-Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataflow-worldbank-transform",
						"type": "ExecuteDataFlow",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow-worldbank-transform",
								"type": "DataFlowReference"
							}
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow-worldbank-transform')]"
			]
		}
	]
}