crimestatdafaasdev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "crimestatdafaasdev"
		},
		"crimestatdwhlinkedservice_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'crimestatdwhlinkedservice'"
		},
		"crimestatstacalinkedservice_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'crimestatstacalinkedservice'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CrimeStat-Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute_Source-Country-Load-Staging",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Source-Country-Load-Staging",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute_Source-WorldBank-Load-Staging",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute_Source-Country-Load-Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Source-WorlBank-Load-Staging",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute_Source-UnCrime-Load-Staging",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute_Source-WorldBank-Load-Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Source-UnCrime-Load-Staging",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Source-Country-Load-Staging')]",
				"[concat(variables('factoryId'), '/pipelines/Source-WorlBank-Load-Staging')]",
				"[concat(variables('factoryId'), '/pipelines/Source-UnCrime-Load-Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source-Country-Load-Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy-country-staging",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [staging].[Country_untyped]"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "alpha-2",
											"type": "String"
										},
										"sink": {
											"name": "alpha-2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "alpha-3",
											"type": "String"
										},
										"sink": {
											"name": "alpha-3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "country-code",
											"type": "String"
										},
										"sink": {
											"name": "country-code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "iso_3166-2",
											"type": "String"
										},
										"sink": {
											"name": "iso_3166-2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "region",
											"type": "String"
										},
										"sink": {
											"name": "region",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "sub-region",
											"type": "String"
										},
										"sink": {
											"name": "sub-region",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "intermediate-region",
											"type": "String"
										},
										"sink": {
											"name": "intermediate-region",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "region-code",
											"type": "String"
										},
										"sink": {
											"name": "region-code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "sub-region-code",
											"type": "String"
										},
										"sink": {
											"name": "sub-region-code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "intermediate-region-code",
											"type": "String"
										},
										"sink": {
											"name": "intermediate-region-code",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "dataset_src_country",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dataset_dst_staging_Country_untyped",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_src_country')]",
				"[concat(variables('factoryId'), '/datasets/dataset_dst_staging_Country_untyped')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source-UnCrime-Load-Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF-UnCrime-Load-Staging",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF-UnCrime-Load-Staging",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SrcUnCrime": {},
									"DstUNCrimeUntyped": {}
								}
							},
							"staging": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF-UnCrime-Load-Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source-WorlBank-Load-Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy-worldbankpopulation-staging",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [staging].[WorldBankPopulation_untyped]"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country Name",
											"type": "String"
										},
										"sink": {
											"name": "Country Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Country Code",
											"type": "String"
										},
										"sink": {
											"name": "Country Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Indicator Name",
											"type": "String"
										},
										"sink": {
											"name": "Indicator Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Indicator Code",
											"type": "String"
										},
										"sink": {
											"name": "Indicator Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1960",
											"type": "String"
										},
										"sink": {
											"name": "1960",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1961",
											"type": "String"
										},
										"sink": {
											"name": "1961",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1962",
											"type": "String"
										},
										"sink": {
											"name": "1962",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1963",
											"type": "String"
										},
										"sink": {
											"name": "1963",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1964",
											"type": "String"
										},
										"sink": {
											"name": "1964",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1965",
											"type": "String"
										},
										"sink": {
											"name": "1965",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1966",
											"type": "String"
										},
										"sink": {
											"name": "1966",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1967",
											"type": "String"
										},
										"sink": {
											"name": "1967",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1968",
											"type": "String"
										},
										"sink": {
											"name": "1968",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1969",
											"type": "String"
										},
										"sink": {
											"name": "1969",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1970",
											"type": "String"
										},
										"sink": {
											"name": "1970",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1971",
											"type": "String"
										},
										"sink": {
											"name": "1971",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1972",
											"type": "String"
										},
										"sink": {
											"name": "1972",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1973",
											"type": "String"
										},
										"sink": {
											"name": "1973",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1974",
											"type": "String"
										},
										"sink": {
											"name": "1974",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1975",
											"type": "String"
										},
										"sink": {
											"name": "1975",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1976",
											"type": "String"
										},
										"sink": {
											"name": "1976",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1977",
											"type": "String"
										},
										"sink": {
											"name": "1977",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1978",
											"type": "String"
										},
										"sink": {
											"name": "1978",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1979",
											"type": "String"
										},
										"sink": {
											"name": "1979",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1980",
											"type": "String"
										},
										"sink": {
											"name": "1980",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1981",
											"type": "String"
										},
										"sink": {
											"name": "1981",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1982",
											"type": "String"
										},
										"sink": {
											"name": "1982",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1983",
											"type": "String"
										},
										"sink": {
											"name": "1983",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1984",
											"type": "String"
										},
										"sink": {
											"name": "1984",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1985",
											"type": "String"
										},
										"sink": {
											"name": "1985",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1986",
											"type": "String"
										},
										"sink": {
											"name": "1986",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1987",
											"type": "String"
										},
										"sink": {
											"name": "1987",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1988",
											"type": "String"
										},
										"sink": {
											"name": "1988",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1989",
											"type": "String"
										},
										"sink": {
											"name": "1989",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1990",
											"type": "String"
										},
										"sink": {
											"name": "1990",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1991",
											"type": "String"
										},
										"sink": {
											"name": "1991",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1992",
											"type": "String"
										},
										"sink": {
											"name": "1992",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1993",
											"type": "String"
										},
										"sink": {
											"name": "1993",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1994",
											"type": "String"
										},
										"sink": {
											"name": "1994",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1995",
											"type": "String"
										},
										"sink": {
											"name": "1995",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1996",
											"type": "String"
										},
										"sink": {
											"name": "1996",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1997",
											"type": "String"
										},
										"sink": {
											"name": "1997",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1998",
											"type": "String"
										},
										"sink": {
											"name": "1998",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "1999",
											"type": "String"
										},
										"sink": {
											"name": "1999",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2000",
											"type": "String"
										},
										"sink": {
											"name": "2000",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2001",
											"type": "String"
										},
										"sink": {
											"name": "2001",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2002",
											"type": "String"
										},
										"sink": {
											"name": "2002",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2003",
											"type": "String"
										},
										"sink": {
											"name": "2003",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2004",
											"type": "String"
										},
										"sink": {
											"name": "2004",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2005",
											"type": "String"
										},
										"sink": {
											"name": "2005",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2006",
											"type": "String"
										},
										"sink": {
											"name": "2006",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2007",
											"type": "String"
										},
										"sink": {
											"name": "2007",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2008",
											"type": "String"
										},
										"sink": {
											"name": "2008",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2009",
											"type": "String"
										},
										"sink": {
											"name": "2009",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2010",
											"type": "String"
										},
										"sink": {
											"name": "2010",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2011",
											"type": "String"
										},
										"sink": {
											"name": "2011",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2012",
											"type": "String"
										},
										"sink": {
											"name": "2012",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2013",
											"type": "String"
										},
										"sink": {
											"name": "2013",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2014",
											"type": "String"
										},
										"sink": {
											"name": "2014",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2015",
											"type": "String"
										},
										"sink": {
											"name": "2015",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2016",
											"type": "String"
										},
										"sink": {
											"name": "2016",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2017",
											"type": "String"
										},
										"sink": {
											"name": "2017",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "2018",
											"type": "String"
										},
										"sink": {
											"name": "2018",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "dataset_src_worldbankpopulation",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dataset_dst_staging_WorldBankPopulation_untyped",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_src_worldbankpopulation')]",
				"[concat(variables('factoryId'), '/datasets/dataset_dst_staging_WorldBankPopulation_untyped')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_dst_staging_Country_untyped')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "crimestatdwhlinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "alpha-2",
						"type": "nvarchar"
					},
					{
						"name": "alpha-3",
						"type": "nvarchar"
					},
					{
						"name": "country-code",
						"type": "nvarchar"
					},
					{
						"name": "iso_3166-2",
						"type": "nvarchar"
					},
					{
						"name": "region",
						"type": "nvarchar"
					},
					{
						"name": "sub-region",
						"type": "nvarchar"
					},
					{
						"name": "intermediate-region",
						"type": "nvarchar"
					},
					{
						"name": "region-code",
						"type": "nvarchar"
					},
					{
						"name": "sub-region-code",
						"type": "nvarchar"
					},
					{
						"name": "intermediate-region-code",
						"type": "nvarchar"
					},
					{
						"name": "sysETLrunId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysCreatedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysChangedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysCreatedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysChangedBy",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"tableName": "[[staging].[Country_untyped]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/crimestatdwhlinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_dst_staging_UNCrime_untyped')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "crimestatdwhlinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FileName",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "SubRegion",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Count",
						"type": "nvarchar"
					},
					{
						"name": "Rate",
						"type": "nvarchar"
					},
					{
						"name": "Year",
						"type": "nvarchar"
					},
					{
						"name": "sysETLrunId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysCreatedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysChangedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysCreatedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysChangedBy",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"tableName": "[[staging].[UNCrime_untyped]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/crimestatdwhlinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_dst_staging_WorldBankPopulation_untyped')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "crimestatdwhlinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Country Name",
						"type": "nvarchar"
					},
					{
						"name": "Country Code",
						"type": "nvarchar"
					},
					{
						"name": "Indicator Name",
						"type": "nvarchar"
					},
					{
						"name": "Indicator Code",
						"type": "nvarchar"
					},
					{
						"name": "1960",
						"type": "nvarchar"
					},
					{
						"name": "1961",
						"type": "nvarchar"
					},
					{
						"name": "1962",
						"type": "nvarchar"
					},
					{
						"name": "1963",
						"type": "nvarchar"
					},
					{
						"name": "1964",
						"type": "nvarchar"
					},
					{
						"name": "1965",
						"type": "nvarchar"
					},
					{
						"name": "1966",
						"type": "nvarchar"
					},
					{
						"name": "1967",
						"type": "nvarchar"
					},
					{
						"name": "1968",
						"type": "nvarchar"
					},
					{
						"name": "1969",
						"type": "nvarchar"
					},
					{
						"name": "1970",
						"type": "nvarchar"
					},
					{
						"name": "1971",
						"type": "nvarchar"
					},
					{
						"name": "1972",
						"type": "nvarchar"
					},
					{
						"name": "1973",
						"type": "nvarchar"
					},
					{
						"name": "1974",
						"type": "nvarchar"
					},
					{
						"name": "1975",
						"type": "nvarchar"
					},
					{
						"name": "1976",
						"type": "nvarchar"
					},
					{
						"name": "1977",
						"type": "nvarchar"
					},
					{
						"name": "1978",
						"type": "nvarchar"
					},
					{
						"name": "1979",
						"type": "nvarchar"
					},
					{
						"name": "1980",
						"type": "nvarchar"
					},
					{
						"name": "1981",
						"type": "nvarchar"
					},
					{
						"name": "1982",
						"type": "nvarchar"
					},
					{
						"name": "1983",
						"type": "nvarchar"
					},
					{
						"name": "1984",
						"type": "nvarchar"
					},
					{
						"name": "1985",
						"type": "nvarchar"
					},
					{
						"name": "1986",
						"type": "nvarchar"
					},
					{
						"name": "1987",
						"type": "nvarchar"
					},
					{
						"name": "1988",
						"type": "nvarchar"
					},
					{
						"name": "1989",
						"type": "nvarchar"
					},
					{
						"name": "1990",
						"type": "nvarchar"
					},
					{
						"name": "1991",
						"type": "nvarchar"
					},
					{
						"name": "1992",
						"type": "nvarchar"
					},
					{
						"name": "1993",
						"type": "nvarchar"
					},
					{
						"name": "1994",
						"type": "nvarchar"
					},
					{
						"name": "1995",
						"type": "nvarchar"
					},
					{
						"name": "1996",
						"type": "nvarchar"
					},
					{
						"name": "1997",
						"type": "nvarchar"
					},
					{
						"name": "1998",
						"type": "nvarchar"
					},
					{
						"name": "1999",
						"type": "nvarchar"
					},
					{
						"name": "2000",
						"type": "nvarchar"
					},
					{
						"name": "2001",
						"type": "nvarchar"
					},
					{
						"name": "2002",
						"type": "nvarchar"
					},
					{
						"name": "2003",
						"type": "nvarchar"
					},
					{
						"name": "2004",
						"type": "nvarchar"
					},
					{
						"name": "2005",
						"type": "nvarchar"
					},
					{
						"name": "2006",
						"type": "nvarchar"
					},
					{
						"name": "2007",
						"type": "nvarchar"
					},
					{
						"name": "2008",
						"type": "nvarchar"
					},
					{
						"name": "2009",
						"type": "nvarchar"
					},
					{
						"name": "2010",
						"type": "nvarchar"
					},
					{
						"name": "2011",
						"type": "nvarchar"
					},
					{
						"name": "2012",
						"type": "nvarchar"
					},
					{
						"name": "2013",
						"type": "nvarchar"
					},
					{
						"name": "2014",
						"type": "nvarchar"
					},
					{
						"name": "2015",
						"type": "nvarchar"
					},
					{
						"name": "2016",
						"type": "nvarchar"
					},
					{
						"name": "2017",
						"type": "nvarchar"
					},
					{
						"name": "2018",
						"type": "nvarchar"
					},
					{
						"name": "sysETLrunId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysCreatedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysChangedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysCreatedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysChangedBy",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"tableName": "[[staging].[WorldBankPopulation_untyped]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/crimestatdwhlinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_src_country')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "crimestatstacalinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ISOcountries.csv",
						"folderPath": "CrimeStat.Source.Countries",
						"container": "crimestat-sourcefiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "alpha-2",
						"type": "String"
					},
					{
						"name": "alpha-3",
						"type": "String"
					},
					{
						"name": "country-code",
						"type": "String"
					},
					{
						"name": "iso_3166-2",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					},
					{
						"name": "sub-region",
						"type": "String"
					},
					{
						"name": "intermediate-region",
						"type": "String"
					},
					{
						"name": "region-code",
						"type": "String"
					},
					{
						"name": "sub-region-code",
						"type": "String"
					},
					{
						"name": "intermediate-region-code",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/crimestatstacalinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_src_uncrime')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "crimestatstacalinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "CrimeStat.Source.UnCrime/ConvertedToCSV",
						"container": "crimestat-sourcefiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Sub Region",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Count",
						"type": "String"
					},
					{
						"name": "Rate",
						"type": "String"
					},
					{
						"name": "Year",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/crimestatstacalinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_src_worldbankpopulation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "crimestatstacalinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "WorldBankPopulation.csv",
						"folderPath": "CrimeStat.Source.WorldBank",
						"container": "crimestat-sourcefiles"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Country Name",
						"type": "String"
					},
					{
						"name": "Country Code",
						"type": "String"
					},
					{
						"name": "Indicator Name",
						"type": "String"
					},
					{
						"name": "Indicator Code",
						"type": "String"
					},
					{
						"name": "1960",
						"type": "String"
					},
					{
						"name": "1961",
						"type": "String"
					},
					{
						"name": "1962",
						"type": "String"
					},
					{
						"name": "1963",
						"type": "String"
					},
					{
						"name": "1964",
						"type": "String"
					},
					{
						"name": "1965",
						"type": "String"
					},
					{
						"name": "1966",
						"type": "String"
					},
					{
						"name": "1967",
						"type": "String"
					},
					{
						"name": "1968",
						"type": "String"
					},
					{
						"name": "1969",
						"type": "String"
					},
					{
						"name": "1970",
						"type": "String"
					},
					{
						"name": "1971",
						"type": "String"
					},
					{
						"name": "1972",
						"type": "String"
					},
					{
						"name": "1973",
						"type": "String"
					},
					{
						"name": "1974",
						"type": "String"
					},
					{
						"name": "1975",
						"type": "String"
					},
					{
						"name": "1976",
						"type": "String"
					},
					{
						"name": "1977",
						"type": "String"
					},
					{
						"name": "1978",
						"type": "String"
					},
					{
						"name": "1979",
						"type": "String"
					},
					{
						"name": "1980",
						"type": "String"
					},
					{
						"name": "1981",
						"type": "String"
					},
					{
						"name": "1982",
						"type": "String"
					},
					{
						"name": "1983",
						"type": "String"
					},
					{
						"name": "1984",
						"type": "String"
					},
					{
						"name": "1985",
						"type": "String"
					},
					{
						"name": "1986",
						"type": "String"
					},
					{
						"name": "1987",
						"type": "String"
					},
					{
						"name": "1988",
						"type": "String"
					},
					{
						"name": "1989",
						"type": "String"
					},
					{
						"name": "1990",
						"type": "String"
					},
					{
						"name": "1991",
						"type": "String"
					},
					{
						"name": "1992",
						"type": "String"
					},
					{
						"name": "1993",
						"type": "String"
					},
					{
						"name": "1994",
						"type": "String"
					},
					{
						"name": "1995",
						"type": "String"
					},
					{
						"name": "1996",
						"type": "String"
					},
					{
						"name": "1997",
						"type": "String"
					},
					{
						"name": "1998",
						"type": "String"
					},
					{
						"name": "1999",
						"type": "String"
					},
					{
						"name": "2000",
						"type": "String"
					},
					{
						"name": "2001",
						"type": "String"
					},
					{
						"name": "2002",
						"type": "String"
					},
					{
						"name": "2003",
						"type": "String"
					},
					{
						"name": "2004",
						"type": "String"
					},
					{
						"name": "2005",
						"type": "String"
					},
					{
						"name": "2006",
						"type": "String"
					},
					{
						"name": "2007",
						"type": "String"
					},
					{
						"name": "2008",
						"type": "String"
					},
					{
						"name": "2009",
						"type": "String"
					},
					{
						"name": "2010",
						"type": "String"
					},
					{
						"name": "2011",
						"type": "String"
					},
					{
						"name": "2012",
						"type": "String"
					},
					{
						"name": "2013",
						"type": "String"
					},
					{
						"name": "2014",
						"type": "String"
					},
					{
						"name": "2015",
						"type": "String"
					},
					{
						"name": "2016",
						"type": "String"
					},
					{
						"name": "2017",
						"type": "String"
					},
					{
						"name": "2018",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/crimestatstacalinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/crimestatdwhlinkedservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('crimestatdwhlinkedservice_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/crimestatstacalinkedservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('crimestatstacalinkedservice_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF-UnCrime-Load-Staging')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dataset_src_uncrime",
								"type": "DatasetReference"
							},
							"name": "SrcUnCrime",
							"script": "source(output(\n\t\tRegion as string,\n\t\t{Sub Region} as string,\n\t\tCountry as string,\n\t\tCount as string,\n\t\tRate as string,\n\t\tYear as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn: 'FileName') ~> SrcUnCrime",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dataset_dst_staging_UNCrime_untyped",
								"type": "DatasetReference"
							},
							"name": "DstUNCrimeUntyped",
							"script": "SrcUnCrime sink(input(\n\t\tFileName as string,\n\t\tRegion as string,\n\t\tSubRegion as string,\n\t\tCountry as string,\n\t\tCount as string,\n\t\tRate as string,\n\t\tYear as string,\n\t\tsysETLrunId as integer,\n\t\tsysCreatedAt as timestamp,\n\t\tsysChangedAt as timestamp,\n\t\tsysCreatedBy as integer,\n\t\tsysChangedBy as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tmapColumn(\n\t\tFileName,\n\t\tRegion,\n\t\tSubRegion = {Sub Region},\n\t\tCountry,\n\t\tCount,\n\t\tRate,\n\t\tYear\n\t),\n\ttruncate:true) ~> DstUNCrimeUntyped"
						}
					],
					"transformations": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_src_uncrime')]",
				"[concat(variables('factoryId'), '/datasets/dataset_dst_staging_UNCrime_untyped')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_dst_staging_WorldBankPopulation_unpivoted')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "crimestatdwhlinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Country Name",
						"type": "nvarchar"
					},
					{
						"name": "Country Code",
						"type": "nvarchar"
					},
					{
						"name": "Indicator Name",
						"type": "nvarchar"
					},
					{
						"name": "Indicator Code",
						"type": "nvarchar"
					},
					{
						"name": "Year",
						"type": "nvarchar"
					},
					{
						"name": "Population",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "sysETLrunId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysCreatedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysChangedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysCreatedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysChangedBy",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"tableName": "[[staging].[WorldBankPopulation_unpivoted]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/crimestatdwhlinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source-WorldBankPopulation_unpivoted-Load-Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataflow-worldbank-transform",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow-worldbank-transform",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"pivoteddata": {},
									"WorldBankPopulationUnpivoted": {}
								}
							},
							"staging": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow-worldbank-transform')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow-worldbank-transform')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dataset_dst_staging_WorldBankPopulation_untyped",
								"type": "DatasetReference"
							},
							"name": "pivoteddata",
							"script": "source(output(\n\t\t{Country Name} as string,\n\t\t{Country Code} as string,\n\t\t{Indicator Name} as string,\n\t\t{Indicator Code} as string,\n\t\t{1960} as string,\n\t\t{1961} as string,\n\t\t{1962} as string,\n\t\t{1963} as string,\n\t\t{1964} as string,\n\t\t{1965} as string,\n\t\t{1966} as string,\n\t\t{1967} as string,\n\t\t{1968} as string,\n\t\t{1969} as string,\n\t\t{1970} as string,\n\t\t{1971} as string,\n\t\t{1972} as string,\n\t\t{1973} as string,\n\t\t{1974} as string,\n\t\t{1975} as string,\n\t\t{1976} as string,\n\t\t{1977} as string,\n\t\t{1978} as string,\n\t\t{1979} as string,\n\t\t{1980} as string,\n\t\t{1981} as string,\n\t\t{1982} as string,\n\t\t{1983} as string,\n\t\t{1984} as string,\n\t\t{1985} as string,\n\t\t{1986} as string,\n\t\t{1987} as string,\n\t\t{1988} as string,\n\t\t{1989} as string,\n\t\t{1990} as string,\n\t\t{1991} as string,\n\t\t{1992} as string,\n\t\t{1993} as string,\n\t\t{1994} as string,\n\t\t{1995} as string,\n\t\t{1996} as string,\n\t\t{1997} as string,\n\t\t{1998} as string,\n\t\t{1999} as string,\n\t\t{2000} as string,\n\t\t{2001} as string,\n\t\t{2002} as string,\n\t\t{2003} as string,\n\t\t{2004} as string,\n\t\t{2005} as string,\n\t\t{2006} as string,\n\t\t{2007} as string,\n\t\t{2008} as string,\n\t\t{2009} as string,\n\t\t{2010} as string,\n\t\t{2011} as string,\n\t\t{2012} as string,\n\t\t{2013} as string,\n\t\t{2014} as string,\n\t\t{2015} as string,\n\t\t{2016} as string,\n\t\t{2017} as string,\n\t\t{2018} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tquery: 'SELECT [Country Name]\\n      ,[Country Code]\\n      ,[Indicator Name]\\n      ,[Indicator Code]\\n      ,[1960]\\n      ,[1961]\\n      ,[1962]\\n      ,[1963]\\n      ,[1964]\\n      ,[1965]\\n      ,[1966]\\n      ,[1967]\\n      ,[1968]\\n      ,[1969]\\n      ,[1970]\\n      ,[1971]\\n      ,[1972]\\n      ,[1973]\\n      ,[1974]\\n      ,[1975]\\n      ,[1976]\\n      ,[1977]\\n      ,[1978]\\n      ,[1979]\\n      ,[1980]\\n      ,[1981]\\n      ,[1982]\\n      ,[1983]\\n      ,[1984]\\n      ,[1985]\\n      ,[1986]\\n      ,[1987]\\n      ,[1988]\\n      ,[1989]\\n      ,[1990]\\n      ,[1991]\\n      ,[1992]\\n      ,[1993]\\n      ,[1994]\\n      ,[1995]\\n      ,[1996]\\n      ,[1997]\\n      ,[1998]\\n      ,[1999]\\n      ,[2000]\\n      ,[2001]\\n      ,[2002]\\n      ,[2003]\\n      ,[2004]\\n      ,[2005]\\n      ,[2006]\\n      ,[2007]\\n      ,[2008]\\n      ,[2009]\\n      ,[2010]\\n      ,[2011]\\n      ,[2012]\\n      ,[2013]\\n      ,[2014]\\n      ,[2015]\\n      ,[2016]\\n      ,[2017]\\n      ,[2018]\\n  FROM [staging].[WorldBankPopulation_untyped]',\n\tformat: 'query') ~> pivoteddata",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dataset_dst_staging_WorldBankPopulation_unpivoted",
								"type": "DatasetReference"
							},
							"name": "WorldBankPopulationUnpivoted",
							"script": "PopulationToInteger sink(input(\n\t\t{Country Name} as string,\n\t\t{Country Code} as string,\n\t\t{Indicator Name} as string,\n\t\t{Indicator Code} as string,\n\t\tYear as string,\n\t\tPopulation as long,\n\t\tsysETLrunId as integer,\n\t\tsysCreatedAt as timestamp,\n\t\tsysChangedAt as timestamp,\n\t\tsysCreatedBy as integer,\n\t\tsysChangedBy as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\ttruncate:true) ~> WorldBankPopulationUnpivoted"
						}
					],
					"transformations": [
						{
							"name": "unpivoteddata",
							"script": "pivoteddata unpivot(output(\n\t\tYear as string,\n\t\tPopulation as string\n\t),\n\tungroupBy({Country Name},\n\t\t{Country Code},\n\t\t{Indicator Name},\n\t\t{Indicator Code}),\n\tlateral: false,\n\tignoreNullPivots: true) ~> unpivoteddata"
						},
						{
							"name": "PopulationToInteger",
							"script": "unpivoteddata derive(Population = toInteger(Population)) ~> PopulationToInteger"
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_dst_staging_WorldBankPopulation_untyped')]",
				"[concat(variables('factoryId'), '/datasets/dataset_dst_staging_WorldBankPopulation_unpivoted')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow-uncrime-transform')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dataset_dst_staging_UNCrime_untyped",
								"type": "DatasetReference"
							},
							"name": "UnCrimeUntyped",
							"script": "source(output(\n\t\tFileName as string,\n\t\tRegion as string,\n\t\tSubRegion as string,\n\t\tCountry as string,\n\t\tCount as string,\n\t\tRate as string,\n\t\tYear as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tquery: 'SELECT [FileName]\\n      ,[Region]\\n      ,[SubRegion]\\n      ,[Country]\\n      ,REPLACE( [Count], [Count],TRIM(REPLACE(REPLACE([Count],\\'-\\',\\'0\\'), \\',\\',\\'\\'))) AS [Count]\\n      ,REPLACE( [Rate], [Rate],TRIM(REPLACE(REPLACE([Rate],\\'-\\',\\'0\\'), \\',\\',\\'\\'))) AS [Rate]\\n      ,[Year]\\nFROM [staging].[UNCrime_untyped]',\n\tformat: 'query') ~> UnCrimeUntyped",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dataset_dst_staging_UNCrime_typed",
								"type": "DatasetReference"
							},
							"name": "UNCrimeTyped",
							"script": "RateToDecimalAndCountToDecimal sink(input(\n\t\tFileName as string,\n\t\tRegion as string,\n\t\tSubRegion as string,\n\t\tCountry as string,\n\t\tCount as decimal(20,0),\n\t\tRate as decimal(15,3),\n\t\tYear as string,\n\t\tsysETLrunId as integer,\n\t\tsysCreatedAt as timestamp,\n\t\tsysChangedAt as timestamp,\n\t\tsysCreatedBy as integer,\n\t\tsysChangedBy as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\ttruncate:true) ~> UNCrimeTyped"
						}
					],
					"transformations": [
						{
							"name": "RateToDecimalAndCountToDecimal",
							"script": "UnCrimeUntyped derive(Count = toDecimal(Count,20,0),\n\t\tRate = toDecimal(Rate,15,3)) ~> RateToDecimalAndCountToDecimal"
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_dst_staging_UNCrime_untyped')]",
				"[concat(variables('factoryId'), '/datasets/dataset_dst_staging_UNCrime_typed')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_dst_staging_UNCrime_typed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "crimestatdwhlinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FileName",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "SubRegion",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Count",
						"type": "decimal",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "Rate",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "Year",
						"type": "nvarchar"
					},
					{
						"name": "sysETLrunId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysCreatedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysChangedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysCreatedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysChangedBy",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"tableName": "[[staging].[UNCrime_typed]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/crimestatdwhlinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source-UnCrime-Typed-Load-Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataflow-uncrime-transform",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow-uncrime-transform",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"UnCrimeUntyped": {},
									"UNCrimeTyped": {}
								}
							},
							"staging": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow-uncrime-transform')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow-dimcrimetype-load')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dataset_dst_staging_UNCrime_typed",
								"type": "DatasetReference"
							},
							"name": "UnCrimeTyped",
							"script": "source(output(\n\t\tCrimeTypeName as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tquery: 'SELECT DISTINCT [FileName] AS CrimeTypeName\\nFROM [staging].[UNCrime_typed]',\n\tformat: 'query') ~> UnCrimeTyped",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "dataset_dst_dwh_DimCrimeType",
								"type": "DatasetReference"
							},
							"name": "DimCrimeTypeName",
							"script": "source(output(\n\t\tDimCrimeTypeKey as integer,\n\t\tCrimeTypeNameDST as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tquery: 'SELECT [DimCrimeTypeKey]\\n      ,[CrimeTypeName] AS CrimeTypeNameDST\\nFROM [dwh].[DimCrimeType]',\n\tformat: 'query') ~> DimCrimeTypeName",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dataset_dst_dwh_DimCrimeType",
								"type": "DatasetReference"
							},
							"name": "DimCrimeTypeNameLoad",
							"script": "ExistsCrimeTypeNameInDST sink(input(\n\t\tDimCrimeTypeKey as integer,\n\t\tCrimeTypeName as string,\n\t\tsysETLrunId as integer,\n\t\tsysCreatedAt as timestamp,\n\t\tsysChangedAt as timestamp,\n\t\tsysCreatedBy as integer,\n\t\tsysChangedBy as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false) ~> DimCrimeTypeNameLoad"
						}
					],
					"transformations": [
						{
							"name": "CrimeTypeName",
							"script": "UnCrimeTyped derive(CrimeTypeName = replace(replace(replace(CrimeTypeName, '.csv', ''), '/CrimeStat.Source.UnCrime/ConvertedToCSV/',''),'_',' ')) ~> CrimeTypeName"
						},
						{
							"name": "SortSRCCrimeTypeName",
							"script": "CrimeTypeName sort(asc(CrimeTypeName@CrimeTypeName, true)) ~> SortSRCCrimeTypeName"
						},
						{
							"name": "SortDSTCrimeTypeName",
							"script": "DimCrimeTypeName sort(asc(CrimeTypeNameDST, true)) ~> SortDSTCrimeTypeName"
						},
						{
							"name": "ExistsCrimeTypeNameInDST",
							"script": "SortSRCCrimeTypeName, SortDSTCrimeTypeName exists(CrimeTypeName@CrimeTypeName == CrimeTypeNameDST,\n\tnegate:true,\n\tbroadcast: 'none')~> ExistsCrimeTypeNameInDST"
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_dst_staging_UNCrime_typed')]",
				"[concat(variables('factoryId'), '/datasets/dataset_dst_dwh_DimCrimeType')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_dst_dwh_DimCrimeType')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "crimestatdwhlinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DimCrimeTypeKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CrimeTypeName",
						"type": "nvarchar"
					},
					{
						"name": "sysETLrunId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysCreatedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysChangedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysCreatedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysChangedBy",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"tableName": "[[dwh].[DimCrimeType]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/crimestatdwhlinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source-DimCrimeType-Load-DWH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataflow-dimcrimetype-load",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow-dimcrimetype-load",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"UnCrimeTyped": {},
									"DimCrimeTypeName": {},
									"DimCrimeTypeNameLoad": {}
								}
							},
							"staging": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow-dimcrimetype-load')]"
			]
		}
	]
}